{% extends 'index.html' %}
{% load static %}

{% block content %}
<body>
  <h1 class="titulo">Cadastrar Movimentações</h1>
<br>
 
<div>
  <div class="section">
    <div class="row">
        <form class="col s12" action='{% url "add item" %}' method='post'>
            {% csrf_token %}
            <div class="row">
                <div class="container center">
                    <h3 class='center'>Your total budget is: <span style="color:green;">{{budget}}</span> dollars</h3>
                    <h3 clas='center'>You've spent a total of : <span style="color:red;">{{expenses}}</span> dollars</h3>
                    <br>
                    <br>
                    <div class="input-field col s3">
                        <input placeholder="Expense name" name="expense_name" id='expense_name' type='text' class='validate'>
                        <label for='expense_name'>Expense name</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder='Amount' name='cost' id='cost' type='text' class='validate'>
                        <label for='cost'>Amount</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder='Date of Expense' name="expense_date" id="expense_date" type="text" class='datepicker'>
                        <label for="expense_date">Expense Date</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Add Expense
                        <i class="material-icons right">add_circle</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


      </body>
    {% endblock %}
      </html>
</body>

</html>

