{% extends 'index.html' %}
{% load static %}

{% block content %}
<body>
  <h1 class="titulo">Cadastrar Movimentações</h1>
<br>
 
<div>
  <div class="section">
    <div class="row">
        <form class="col s12" action='{% url "Cadastrar movimentações" %}' method='post'>
            {% csrf_token %}

            <div class="row">
                <div class="container center">
                    <br>
                    <br>
                    <div class="input-field col s3">
                      <label for='descricao'>Descrição</label>
                        <input placeholder="descricao" name="descricao" id='descricao' type='text' class='validate'>
                        
                    </div>
                    <div class="input-field col s3">
                      <label for='valor'>Valor</label>
                        <input placeholder='Valor' name='valor' id='valor' type='text' class='validate'>
                        
                    </div>
                    <div class="input-field col s3">
                      <label for="data_movimentacao">Data da Movimentacao</label>
                        <input placeholder='Data da Movimentacao' name="data_movimentacao" id="data_movimentacao" type="text" class='datepicker'>
                        
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Adicionar movimentação
                        <i class="material-icons right">add_circle</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


      </body>
    {% endblock %}
      </html>
</body>
</html>
