{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<header class="header">
    <div class="titulo">
        <h1>Nome do site</h1>
    </div>
    <nav class="nav">
        <a class="nav-link" href="#">Início</a>
        <a class="nav-link" href="#">Movimentações</a>
        <a class="nav-link" href="#">Perfil</a>
    </nav>
    <span class="space"></span>
    <div class="usuario">
        <h4> Nome do usuario</h4>
        <button class="btn btn-secondary">Sair</button>
    </div>
</header>