{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<header class="header">
    <div class="titulo">
        <h1><span style="color: #ffde59;">Py</span>nanceire</h1>
    </div>
    <nav class="nav">
        <a class="nav-link" href="#">Início</a>
        <a class="nav-link" href="{% url 'ListarMovimentacao' %}">Movimentações</a>
        <a class="nav-link" href="{% url 'ChamarTelaCadastrarMovimentacao' %}">Cadastrar</a>
    </nav>
    <span class="space"></span>
    <div class="usuario">
        <h4> Nome do usuario</h4>
        <button class="btn btn-secondary"><a href="{% url 'Logout' %}">Sair</a></button>
    </div>
</header>